body, html {
    height: 100%;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: url("images/family.jpg");
  background-color: #ffbb99;
  
  /* Set a specific height*/
  height: 25%;

  /* Position and center the image to scale nicely on all screens*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22%;
  position: relative;
}

.table, td {
  border: 1px solid black;
  
}

.table {
  width: 100%;
}

.table, th, tr {
  height: 10px;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    
}
.container {
  display: flex;
}

* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  color: green;
}

/* Style the top navigation bar */
.navbar {
  display: center;
  background-image: radial-gradient(#003B46,#c4dfe6);
  text-align: center;
}

.batman {
    color: #333;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 0px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

.column {
  float: center;
  width: 30.5%;
  padding: 5px;
}

/* Clear floats after image containers */
/*.row::after {
  content: "";
  clear: both;
  display: table;
}*/

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  height: 100%;	
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  height: 100%;
  padding: 20px;
  background-image: radial-gradient(#ffd4be, #d88961);
}

.index_main {
  flex: 70%;
  padding: 20px;
  background-image: radial-gradient(#ffd4be, #d88961);
}

.box {
  text-align: center; 
}

.box img {
    padding: 0px;
    align-items: center;
}

.box div {
    padding: 0px;
    align-items: center;
}


.main img {
    float: center;
}
/* Fake image, just for this example */
.fakeimg {
  background-color: gray;
  height: 500px;
  width: 375px;
  padding: 1px;
  font-size: 20px;
  display: inline-block;
}

/* Footer */
.footer {
  padding: 10px;
  text-align: left;
  font: "Comic Sans MS", cursive, sans-serif;
  background: #ddd;
}

.footer p {
    clear: right;
    font-size: 65%;
}

.footer img {
    float: left;
    padding: 5px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}
